body {
    background: #1a2d33;
    color:#000000;
    font-family: 'Arial';
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #f1f1f1;
}

header h1 {
    padding: 10px 0;
    font-size: 60px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-bottom: 30px;
}

nav a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a:hover {
    background-color: rgb(241, 213, 53);
}